<div name="aboutMe"> </div>
<div id="about-me">
  <h1 class="title">About Me</h1>
  <table>
  	<tr>
  		<td class="key">&nbsp; Name: &nbsp;</td>
  		<td class="value">Rajyash Gosalia &nbsp;</td>
  	</tr>
  	<tr>
  		<td class="key">&nbsp; Company: &nbsp;
      </td>
  		<td class="value">Zobrist Consulting Group, Inc. &nbsp;</td>
  	</tr>
  	<tr>
  		<td class="key">&nbsp; Position: &nbsp;</td>
  		<td class="value">Java Developer &nbsp;</td>
  	</tr>
    <tr>
      <td class="key">&nbsp; Location: &nbsp;</td>
      <td class="value">Los Angeles &nbsp;</td>
    </tr>
  	<tr>
  		<td class="key">&nbsp; Career Objective: &nbsp;</td>
  		<td class="value">To work in a challenging environment that provides generous opportunities for learning new technologies in web development.  &nbsp;</td>
  	</tr>
  </table>
</div>
