<div id="experience">
	<h1 class="title">Work Experience</h1>
	<div id="company-1">
  	<h2>Zobrist Consulting Group, Inc. </h2>
  	<h3>Java Developer <span class="duration">August, 2015 - Present</span></h3>
		<h4>Projects</h4>
		<div id="projects">
  		<h3 class="project-title">Mobiecom</h3>
  		<span class="description">Mobiecom is a mobile-first ecommerce website using the latest technology stack like React with redux architecture.<br>
			It incorporates a responsive web-design using foundation. The differentiating factor between any ecommerce website and Mobiecom is the fast user experience due to server side rendering of React. Some of the responsibilities as a developer include:
			<ul>
  			<li>End-to-end development of the features.</li>
  			<li>Making sure the UI works for mobiles, tablets and desktops.</li>
  			<li>Developing unit test cases for React components as well as backend APIs.</li>
  		</ul>
  		</span>
  	</div>
  	<div id="projects">
  		<h3 class="project-title">Smart Merchandiser</h3>
  		<span class="description">Smart Merchandiser is a single page NodeJS app that helps merchandisers to micromanage their ecommerce websites. It has a number of analytics providers to provide analytical data which can be used by merchandisers to anticipate the sale of a product.<br>
  		It comprises of various microservices and the main technologies used are Java and NodeJS. As a part of the development team, I got the opportunity to work on various microservices used in the project and the different technologies used in all the modules. Some such contributions include:
  		<ul>
  			<li>Developing optimized backend APIs in NodeJS for a better performance of the application.</li>
  			<li>Developing the Analytics module in Java to fetch real time analytics data from Google Analytics, Omniture and Coremetrics.</li>
  			<li>Implementing Websphere Commerce Webservices using SOAP and REST.</li>
  			<li>Developing unit test cases using the mocha framework.</li>
  			<li>Developing front-end components using ReactJS and Flux architecture.</li>
  		</ul>
  		</span>
  	</div>
  </div>
  <div id="company-1">
  	<h2>Zobrist Consulting Group, Inc. </h2>
  	<h3>Websphere Commerce Intern <span class="duration">June, 2014 - June, 2015</span></h3>
  	<div id="projects">
  		<h3 class="project-title">Commerce Test Automation</h3>
  		<span class="description">Commerce Test Automation was an automated browsed based testing of different ecommerce brands with different configurations.<br>
  		The project comprised of writing automated selenium based test cases in Java. It helped determine how stable the next release was and helped to identify bugs seen on different browsers. The project involved:
  		<ul>
  			<li>Designing the automation scripts.</li>
  			<li>Developing the automated to scripts using selenium for various browsers.</li>
  			<li>Report generation of the automated scripts to make it easier to debug after they were run.</li>
  		</ul>
  		</span>
  	</div>
  </div>
  <div id="company-1">
  	<h2>Infosys Limited </h2>
  	<h3>Systems Engineer <span class="duration">June, 2011 - August, 2013</span></h3>
  	<div id="projects">
      <h3 class="project-title">SWIFT</h3>
  		<span class="description">SWIFT stands for Software Implementation &amp; Fulfillment Technology. This project mainly dealt with the license generation technology of the Cisco products. The project helped the client (Cisco) to integrate and validate new products that were being introduced. <br>
  		The project was developed in Java using struts 2.0. My contributions to the project involved:
  		<ul>
  			<li>Managing a team of three developers and completed the development as well as integration of a smaller project/module into the existing Web Application .</li>
  			<li>Authored documents like Functional Specification Document and detailed Technical Design Document.</li>
  			<li>Integrating the newly released/acquired products into the existing application and simultaneously working on the enhancements and bug fixes.</li>
  			<li>Proactively took the responsibility to train the new joinees about the processes being followed, architecture implemented and technology being used.</li>
  			<li>Developing web modules that dealt with the reports and graphs of Cisco sales in various quarters.</li>
  		</ul>
  		</span>
  	</div>
  </div>
</div>
