#certifications {
	font: small-caps;
	font-weight: bold;
	align-content: center;
	font-family: Merriweather;
	font-size: 1.00em;
}

h1.title {
	/*color: #800040;*/
	color: #2079c7;
	font-weight: normal;
}

span.description {
	/*background-color: #f2f2f2;*/
	color: #83888A;
	width: auto;
	font-size: 1.0em;
	height: auto;
	font-weight: normal;
	text-align: left;
}

span.description ul {
	padding-left: 12%;
	padding-right: 10%;
	align-content: center;
	position: relative;
}