<!--The content below is only a placeholder and can be replaced.-->
<!-- <ul>
  <li><a class="active" href="#home">Home</a></li>
  <li><a href="#news">News</a></li>
  <li><a href="#contact">Contact</a></li>
  <li><a href="#certifications">About</a></li>
</ul> -->
<div id="my-app" style="text-align:center" class="main">
  <!-- <h1>
    Welcome to {{title}}!!
  </h1> -->
  <app-my-intro></app-my-intro>
  <br>
  <hr>
  <app-about-me></app-about-me>
  <br>
  <hr>
  <div id="app-2">
  <app-my-experience></app-my-experience>
  </div>
  <br>
  <hr>
  <app-my-skills></app-my-skills>
  <br>
  <hr>
  <app-my-education></app-my-education>
  <br>
  <hr>
  <app-certifications></app-certifications>
  <br>
  <hr>
  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Merriweather" />
</div>
<!-- <h2>Here are some links to help you start: </h2>
<ul>
  <li>
    <h2><a target="_blank" href="https://angular.io/tutorial">Tour of Heroes</a></h2>
  </li>
  <li>
    <h2><a target="_blank" href="https://github.com/angular/angular-cli/wiki">CLI Documentation</a></h2>
  </li>
  <li>
    <h2><a target="_blank" href="http://angularjs.blogspot.ca/">Angular blog</a></h2>
  </li>
</ul> -->

