<div id="my-skills">
  <h1 class="title">Skills</h1>
  <h2>Languages:</h2>
  <table>
  	<tr>
  		<td class="value">Java</td>
  		<td class="value">Javascript</td>
  		<td class="value">HTML</td>
  		<td class="value">CSS</td>
  	</tr>
  </table>
  <h2>Frameworks &nbsp;&amp;&nbsp;  Architecture:</h2>
  <table>
  	<tr>
  		<td class="value">Node.js</td>
  		<td class="value">Express</td>
  		<td class="value">React.js</td>
  		<td class="value">Flux</td>
  	</tr>
  	<tr>
  		<td class="value">Redux</td>
  		<td class="value">Struts</td>
  		<td class="value">Spring</td>
  		<td class="value">Hibernate</td>
  	</tr>
  </table>
  <h2>Databases:</h2>
  <table>
  	<tr>
  		<td class="value">Oracle</td>
  		<td class="value">MySQL</td>
  		<td class="value">CouchDB</td>
  		<td class="value">&nbsp;</td>
  	</tr>
  </table>
  <h2>Tools &amp; Technologies:</h2>
  <table>
  	<tr>
  		<td class="value">Git</td>
  		<td class="value">Selenium</td>
  		<td class="value">IBM Bluemix</td>
  		<td class="value">Cloud Foundry</td>
  	</tr>
  </table>
</div>
