#my-skills {
	font: small-caps;
	text-align: center;
	font-weight: bold;
	align-content: center;
	font-family: Merriweather;
	font-size: 1.00em;
}

h1.title {
	/*color: #800040;*/
	color: #2079c7;
	font-weight: normal;
}

h2 {
	font-weight: normal;
	font-size: larger;
	text-align: left;
	padding-left: 10%;
}

table {
	margin: auto;
	font-size: larger;
	border: none;
	width: 70%;
}

td.value {
	text-align: left;
	font-weight: normal;
	padding-left: 0px;
	width: 25%;
	word-wrap: normal;
	color: #83888A;
}